{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<<<<<<< Updated upstream
    <div class="container p-4 " >
        <h1>Register</h1>

        {{ form_start(registrationFormVariable "form" does not exist.) }}
=======
<div class="container p-4 " >
    <h1>Register</h1>

    {{ form_start(registrationFormVariable "form" does not exist.) }}
>>>>>>> Stashed changes
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
<<<<<<< Updated upstream
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
=======
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
>>>>>>> Stashed changes
