{{ form_start(form , {attr: {class: 'filter'} }) }}

    {{ form_row(form.q) }}
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<h4 class="mt-4">Catégories</h4>
{{ form_row(form.categories) }}

<h4 class="mt-4">Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max) }}
    </div>
</div>

<button type="submit" class="btn btn-light w-100 mt-3">Filtrer</button>
{{ form_end(form) }}
=======
=======
>>>>>>> Stashed changes
    <h4 class="mt-4">Catégories</h4>
    {{ form_row(form.categories) }}

    <h4 class="mt-4">Prix</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.min) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.max) }}
        </div>
    </div>

    <button type="submit" class="btn btn-light w-100 mt-3">Filtrer</button>
{{ form_end(form) }}

<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
