{% extends 'base.html.twig' %}

{% block title 'Articles' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

        </div>
    </div>
<div class="container">
    <h2>Nos articles</h2>
    <div class="row flex">
    {% for article in articles %}
        <div class="col-md-3  mt-4">
            <div class="card card-product-grid">
                <div class="card-body">
                    <div class="img-wrap">
                        <img src="">
                    </div>
                    <figcaption class="info-wrap">
                        <a class="text-decoration-none"href="{{ path('article.show', {id: article.id, slug: article.slug})}}">{{ article.title }}</a>
                        <p class="text-muted">{{ article.categoryType }} </p>
                    </figcaption>
                    <div class="mt-2">
                        <a href="{{path('cart_add', {id: article.id})}}"  class="btn btn-sm btn-outline-primary float-right">Acheter</a>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="font-weight-bold card-text">{{ article.formattedPrice }} €</div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
        {{ knp_pagination_render(articles) }}
    </div>
</div>
{% endblock %}