{% extends 'base.html.twig' %}

{% block title 'Articles' %}

{% block body %}

    <div class="container" style="width: 1170px; margin-top: 100px;">
        <h2>Nos articles</h2>
        <div class="row ">

            <div class="col-md-3  mt-4">
                {% include 'articles/filter.html.twig' %}
                {# {% include 'articles/filter.html.twig' with {form: form} only %} #}
            </div>

            {% for article in articles %}
                <div class="col-md-3 mt-4" >

                    <div class="card card-product-grid">
                        {% if article.filename %}
                            <img alt="card-img-top" style="height: 250px" src=" {{ vich_uploader_asset(article, 'imageFile') }}"
                                 style="width: 100%; height: auto;">
                        {% else %}
                            <img alt="card-img-top" src=" {{ '/images/articles/empty.jpg' }}"
                                 style="width: 100%; height: auto;">
                        {% endif %}
                        <div class="card-body" >
                            <figcaption class="info-wrap">
                                <a class="text-decoration-none"
                                   href="{{ path('article.show', {id: article.id, slug: article.slug}) }}">{{ article.title }}</a>
                                <div>
                                    <p class="text-muted"> {{ article.categoryType }}</p>
                                </div>
                            </figcaption>
                            <div class="mt-2">
                                <a href="{{ path('cart_add', {id: article.id}) }}"
                                   class="btn btn-sm btn-outline-primary float-right">Ajouter au panier</a>
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <div class="font-weight-bold card-text">{{ article.formattedPrice }} €</div>

                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}