{% extends 'base.html.twig' %}

{% block title article.title %}
{% block body %}
    <div class="container bg-light mt-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="card img-big-wrap">
                                {% if article.filename %}
                                    <img alt="card-img-top" src=" {{ vich_uploader_asset(article, 'imageFile') }}"
                                         style="width: 100%; height: auto;">
                                {% endif %}
                            </div>
                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6">
                        <article>
                            <a href="#" class="text-muted btn-link ">{{ article.categoryType }}</a>
                            <h3 class="title">{{ article.title }}</h3>

                            <hr>

                            <div class="mb-3">
                                <h4>Description</h4>
                                <p>{{ article.description }}</p>
                                <p>{{ article.description }}</p>
                            </div>

                            <div class="mb-3">
                                <var class="price h4">{{ article.price }} €</var> <br>
                            </div>

                            <div class="mb-4">
                                <form action="{{ path('cart_add', {id: article.id}) }}" method="get">
                                    <select name="quantity" class="form-select form-select-sm w-auto">

                                        {% for i in 1..10 %}
                                            <option value="{{ i }}"> {{ i }}</option>
                                        {% endfor %}

                                    </select>
                                    <button href="{{path('cart_add', {id: article.id})}}"  class="btn btn-dark">Ajouter au panier</button>

                                </form>
                            </div>

                        </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

