{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container" style="width: 1170px; margin-top: 100px;">
        {% for message in app.flashes('success') %}
            <div class="col-xs4 mt-4">
                <div class="alert alert-success" role="alert">{{ message }}</div>
            </div>
        {% endfor %}
        <div class="bg-light p-3">
            <h1 class="text-center">Bonjour {{ app.user.username }}</h1>
        </div>
        <div class="grix xs2 mt-4">
            <div class="col-xs1">Pseudo :</div>
            <div class="col-xs3">{{ app.user.username }}</div>
            <div class="col-xs1">email :</div>
            <div class="col-xs3">{{ app.user.email }}</div>
            <div class="col-xs1">Adresse :</div>
            <div class="col-xs3">{{ app.user.address }}</div>
            <div class="col-xs4 mt-4">
                <a href="{{ path('user_edit') }}" class="btn btn-info">Modifier le profil</a>
                <a href="{{ path('user_edit_mdp') }}" class="btn btn-info">Modifier le mot de passe</a>
            </div>

        </div>
    </div>
{% endblock %}

